.footerContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 24, 59, 0.4);
  padding: 10px 30px;
  font-size: 10px;
  flex-shrink: 0;
  /* align-items: center; */
}

.footerLinksContainer {
  display: flex;
  align-items: center;
  /* text-align: center; */
  width: 60px;
  padding-left: 0;
}

.footerContainer a {
  color: #22183b;
}

.headerForNames {
}

.namesMainContainer a {
  margin: 6px;
}

.creditsContainer {
  padding: 3px;
  display: flex;
  align-items: center;
}

.anchorsInMadeBy {
  padding: 10px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .creditsContainer a {
    color: transparent;
    width: 10px;
  }

  /* .footerContainer {
    height: 0;
    background-color: transparent;
  }

  .footerContainer a {
    color: transparent;
  } */
}
