.orgDetailsPage {
  display: flex;
  flex-direction: column;
}

span {
  position: relative;
}

.orgHeaderImg {
  width: 100%;
  position: relative;
  display: block;
  object-fit: cover;
  filter: grayscale(1) opacity(0.8);
}

span::after {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  background: rgba(124, 94, 241, 0.5);
  top: 0;
  left: 0;
}

.mainDetailsContainer {
  margin: 20px 20px;
  max-width: 700px;
}

.nameAndDescriptionContainer {
  margin-bottom: 30px;
}

.nameAndDescriptionContainer h1 {
  margin-bottom: 20px;
}

.orgDetailsUl ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.map-container {
  width: 50vw;
  height: 50vw;
}

.orgContactsAndDetails {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

.orgContactsAndDetails a {
  color: #e27bf5;
  text-decoration: none;
}

.orgContactsAndDetails a:hover {
  font-weight: 800;
  text-decoration: none;
  color: #e27bf5;
}

.orgContactsAndDetails h6 {
  margin-bottom: 5px;
}

.orgDetailsSubContainer {
  max-width: 150px;
}

.address {
  margin-top: 10px;
}
.mapAndButtonsContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
  max-width: 700px;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.orgDetailsButtons {
  max-width: 150px;
  margin: 5px;
}

.reviewCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px 0 20px 0;
}

.reviewButtons {
  font-size: 10px;
  padding: 5px 10px;
}

.reviewButtons::after {
  background-color: #b1b1ff;
  top: 4px;
  left: 5px;
}

.reviewForm {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.reviewFormInputContainer {
  margin-bottom: 10px;
}

.editReviewFormInputContainer textarea,
.reviewFormInputContainer textarea {
  display: flex;
  flex-direction: column;
  width: 286px;
  padding: 8px 12px;
  border: 1px solid rgba(34, 24, 59, 0.25);
  box-sizing: border-box;
  border-radius: 2px;
}

/* .editReviewFormInputContainer input {
  width: 100px;
} */

.reviewFormSubmitButtonContainer {
  display: flex;
  justify-content: space-evenly;
}

.editReviewFormButtonContainer button {
  margin: 5px;
}

.reviewText {
  max-width: 150px;
}
