.container-fluid {
    background-color: rgb(124, 94, 241, 0.5);
    padding: 5px;
    /* padding: 1px 10px 0px 10px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardcontainers {
    background-color: white;
    padding: 15px;
    margin: 10px 10px 10px 10px;
    border-radius: 6px;
    max-width: 600px;
}


@media only screen and (min-width: 1000px) {
    .cardcontainers {
        max-width: 400px;
    }
}


.headerlink {
    color: rgb(124, 94, 241);
}

p {
    color: #22183B;
    margin-bottom: 14px;
}

hr {
    margin: 0px 0px 6px 0px;
    /* border: 1px solid; */
    size: 10;
    color: rgb(124, 94, 241, 0.5) !important;
}

.location {
    font-size: smaller;
}

.locationHeader {
    display: inline;
    color: gray;
    font-size: xx-small;
}

.reviewDisplay {
    display: flex;
    font-size: x-small;
    align-items: flex-end;
}