.orgDetailsPage {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.orgHeaderImg {
  width: 100%;
}

.mainDetailsContainer {
  margin: 20px;
}

.orgDetailsUl ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.map-container {
  width: 50vw;
  height: 50vw;
}

.orgContactsAndDetails {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

/* .orgDetailsSubContainer{
    margin: 
} */

.orgContactsAndDetails h6 {
  margin-bottom: 3px;
}

.mapAndButtonsContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
}

.orgDetailsButtons {
  width: 100px;
}
